<div class="input-group">
    <%= radio_button_tag :sort, "created",
          params[:sort] == "created",
          onclick: ("$('form').submit();") %>

    <span class="small">
      Newest
    </span>
</div>

<div class="input-group">
  <%= radio_button_tag :sort, "title",
                       params[:sort] == "title",
                       onclick: ("$('form').submit();") %>

  <span class="small">
    Title
  </span>
</div>

<div class="input-group">
  <%= radio_button_tag :sort, "led",
                       params[:sort] == "led",
                       onclick: ("$('form').submit();") %>

  <span class="small">
    Most favorited
  </span>
</div>

<% if params[:query].present? %>
  <div class="input-group">
    <%= radio_button_tag :sort, "keywords",
                         params[:sort] == "keywords",
                         onclick: ("$('form').submit();") %>

    <span class="small">
      Keywords
    </span>
  </div>
<% end %>
