<div class="flex items-center gap-1">
  <label class="flex items-center gap-1 cursor-pointer">
    <%= radio_button_tag :sort, "created",
                         @sort == "created",
                         onclick: "$('form').submit();" %>
    <span class="text-sm">Newest</span>
  </label>
</div>

<div class="flex items-center gap-1">
  <label class="flex items-center gap-1 cursor-pointer">
    <%= radio_button_tag :sort, "title",
                         @sort == "title" || !params[:sort].present?,
                         onclick: "$('form').submit();" %>
    <span class="text-sm">Title</span>
  </label>
</div>

<div class="flex items-center gap-1">
  <label class="flex items-center gap-1 cursor-pointer">
    <%= radio_button_tag :sort, "led",
                         @sort == "led",
                         onclick: "$('form').submit();" %>
    <span class="text-sm">Most bookmarked</span>
  </label>
</div>

<%# if params[:query].present? %>
<!--  <div class="flex items-center gap-1">-->
<!--    <label class="flex items-center gap-1 cursor-pointer">-->
      <%#= radio_button_tag :sort, "keywords",
                           @sort == "keywords", # || (!params[:sort].present? && params[:query].present?),
                           onclick: "$('form').submit();" %>
<!--      <span class="text-sm">Keyword match</span>-->
<!--    </label>-->
<!--  </div>-->
<%# end %>
