<%= turbo_frame_tag :sectors_tags do %>
  <div class="flex flex-wrap gap-2">
    <% @sectors.each do |sector| %>
      <%= render "sectors/tagging_label",
               sector: sector,
               bg_color: "bg-white",
               bg_hover_color: "bg-lime-200" %>
    <% end %>
  </div>
<% end %>
