<section class="px-8">
  <div class="flex flex-col items-start mb-4">
    <div class="inline-block mr-24">
      <h2 class="text-2xl text-gray-700 font-medium m-2">Community news</h2>
      <hr class="h-1 bg-primary border-0 rounded-sm my-2 mx-4">
    </div>
  </div>

  <div class="flex flex-col">
    <% community_news.each do |community_news_item| %>
      <%= render "community_news_item", community_news_item: community_news_item %>
    <% end %>
  </div>
  <div class="text-right text-end mr-2">
    <%= link_to "View all", community_news_index_path, class: "btn btn-secondary-outline" %>
  </div>
</section>