<div class="<%= DomainTheme.bg_class_for(:events) %> border border-gray-200 rounded-xl shadow-md hover:shadow-lg transition-shadow duration-200 p-6">
  <!-- Header Row -->
  <div class="w-full">
    <div class="flex items-start justify-between mb-6">
      <div class="pr-6">
        <h1 class="text-2xl font-semibold mb-2">Community of Practice Events</h1>

        <div>
          Mark your calendars for a year of exciting events! They are
          designed to expand your knowledge, ignite your passion, and foster connections within our network of
          Windows Facilitators. Whether you’re a seasoned facilitator or just starting out,
          we think you’ll find something to inspire and empower you.
          For questions, reach out to us at <%= mail_to ENV.fetch("REPLY_TO_EMAIL", "programs@awbw.org"),
                                                        class: "underline" %>
          <br><br>
          Note: Event dates/times are subject to change -- we will keep you informed by email.
        </div>
      </div>
      <div class="text-right text-end">
        <% if current_user.super_user? %>
          <%= link_to "New Event",
                      new_event_path,
                      class: "whitespace-nowrap btn btn-secondary-outline" %>
        <% end %>
      </div>
    </div>
    <!-- Divider -->
    <div class="w-full mt-6">
      <hr class="border-gray-300 mb-6">
    </div>

    <% if @events.any? %>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <% @events.each do |event| %>
          <%= render "card", event: event %>
        <% end %>
      </div>

    <% else %>
      <!-- Empty State -->
      <div class="text-center py-12 text-gray-500">
        No events available.
      </div>
    <% end %>
  </div>
</div>

