<!-- FALLBACK_URL -->
<% if content_for?(:fallback_url) %>
  <table width="100%" cellpadding="0" cellspacing="0" style="margin-top: 32px;margin-bottom: 48px;">
    <tr>
      <td align="center">
        <table width="600" cellpadding="0" cellspacing="0">
          <tr>
            <td style="font-size:12px;
              color:#6b7280;
              padding-top:16px;
              border-top:1px solid #e5e7eb;
              text-align:center;">
              <p style="margin:0 0 8px 0;">
                If the button above does not work, copy and paste this URL:
              </p>

              <div style="background:#f3f4f6;
                border-radius:6px;
                padding:8px 10px;
                font-family: monospace;
                font-size:12px;
                word-break: break-all;
                color:#111827;">
                <%= yield :fallback_url %>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
<% end %>
