.navbar-brand {
  margin-right: 3em;
}

.header .navbar-text {
  border-left: 0px;
}

.navbar-text.navbar-link {
  width: auto;
  min-width: fit-content;
  margin-right: 10px;
  border-left: 0px;
}

.navbar-link {
  display: flex;
  align-items: center;
  font-size: 20px;
  a {
    text-decoration: none;
  }
}

.btn.btn-primary.new-button {
  width: 150px;
  color: white;
  &:hover,
  &:focus,
  &.active{
    background-color: white;
    border-color: #002358;
    color: #063b8d;
  }
  &.btn-filled{
    background-color: #063b8d;
    border-color: #063b8d;
    color: white;
  }
}

/* Nav link hover effect */
.navbar-text.navbar-link a {
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}

.navbar-text.navbar-link a:hover {
  background-color: whitesmoke; /* subtle highlight */
}