<% windows_types_applied = params[:windows_types].present? ?
                             WindowsType.where(id: params[:windows_types].to_unsafe_h.values.reject(&:blank?))
                               .map{|wt| wt.short_name} : [] %>

<% categories_applied = params[:categories].present? ?
                          Category.where(id: params[:categories].to_unsafe_h.values.reject(&:blank?))
                            .pluck(:name) : [] %>

<% sections_applied = params[:sectors].present? ?
                        Sector.where(id: params[:sectors].to_unsafe_h.values.reject(&:blank?))
                          .pluck(:name) : [] %>

<% active_applied = "Published" if params[:active] == "true" %>

<% inactive_applied = "Hidden" if params[:inactive] == "true" %>

<% filters_applied = [
  *windows_types_applied,
  *categories_applied,
  *sections_applied,
  active_applied,
  inactive_applied,
  "#{ "Title: " + params[:title] if params[:title].present? }",
  "#{ "Author: " + params[:author_name] if params[:author_name].present? }",
  "#{ "Full-text: " + params[:query] if params[:query].present? }",
].flatten.reject(&:blank?).sort %>

<div id="filters_applied" class="flex justify-between items-center">
  <div class="flex gap-1 items-center">
    <h3 class="text-sm font-semibold uppercase text-gray-500 tracking-wide">
      Filters applied
    </h3>
    <% if filters_applied.any? %>
      <%= filters_applied.to_sentence %>
      <%= link_to 'Clear filters', workshops_path, class: "btn btn-primary" %>
    <% else %>
      None
    <% end %>
  </div>
</div>
