<div class="tags-section print:hidden p-2">

  <% if workshop.sectors.published.any? %>
    <div class="my-6 grid grid-cols-[auto_1fr] gap-x-3 items-start">
      <span class="text-xs text-gray-700 mt-1">
        SERVICE POPULATIONS:
      </span>

      <div class="flex flex-wrap gap-2">
        <% workshop.sectors.published.order(:name).each do |sector| %>
          <%= render "sectors/tagging_label", sector: sector %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% categories = workshop.categories.includes(:category_type).published %>
  <% if categories.any? %>
    <div class="my-6 grid grid-cols-[auto_1fr] gap-x-3 items-start">
      <span class="text-xs text-gray-700 mt-1">
        ADDITIONAL TAGS:
      </span>

      <div class="flex flex-wrap gap-2">
        <% categories
             .order(Arel.sql("category_types.name, categories.position, categories.name")).each do |category| %>
          <%= render "categories/tagging_label", category: category %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
