<div class="flex items-center gap-1">
  <label class="flex items-center gap-1 cursor-pointer">
    <%= radio_button_tag :sort, "created",
                         @sort == "created" || !params[:sort].present? %>
    <span class="text-sm">Newest</span>
  </label>
</div>

<div class="flex items-center gap-1">
  <label class="flex items-center gap-1 cursor-pointer">
    <%= radio_button_tag :sort, "title",
                         @sort == "title" %>
    <span class="text-sm">Title</span>
  </label>
</div>

<div class="flex items-center gap-1">
  <label class="flex items-center gap-1 cursor-pointer">
    <%= radio_button_tag :sort, "led",
                         @sort == "led" %>
    <span class="text-sm">Most led</span>
  </label>
</div>

<div class="flex items-center gap-1">
  <label class="flex items-center gap-1 cursor-pointer">
    <%= radio_button_tag :sort, "popularity",
                         @sort == "popularity" %>
    <span class="text-sm">Most bookmarked</span>
  </label>
</div>

<%# if params[:query].present? %>

<!-- <div class="flex items-center gap-1"> -->

<!-- <label class="flex items-center gap-1 cursor-pointer"> -->

<%#
  = radio_button_tag :sort, "keywords",
  @sort == "keywords", # || (!params[:sort].present? && params[:query].present?),
  onclick: "$('form').submit();"
%>

<!-- <span class="text-sm">Keyword match</span> -->

<!-- </label> -->

<!-- </div> -->

<%# end %>
