<div class="max-w-7xl mx-auto px-4 py-8">
  <div class="max-w-5xl mx-auto bg-white border border-gray-200 rounded-xl shadow p-6">
    <!-- Header + View Button -->
    <div class="flex items-center justify-between mb-4">
      <h1 class="text-2xl font-semibold text-gray-900">Edit Workshop</h1>
      <%= link_to "View", workshop_path(@workshop), class: "btn btn-secondary-outline" %>
    </div>

    <div class="border-b border-gray-300 mb-6"></div>

    <!-- Form -->
    <div class="mt-4"><%= render "form", workshop: @workshop %></div>

    <%= turbo_frame_tag "editor_assets_lazy", src: edit_workshop_path(@workshop) do %>
      <%= render "shared/loading" %>
    <% end %>
  </div>
</div>
