<div class="min-h-screen py-10">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="admin-only bg-blue-100 rounded p-6">
      <div class="<%= DomainTheme.bg_class_for(:categories) %>
        border border-gray-200 rounded-2xl shadow-md hover:shadow-lg transition-shadow duration-300 p-8">
        <div class="flex items-center justify-between mb-3">
          <h1 class="text-2xl font-semibold text-gray-900">New <%= @category.class.model_name.human %></h1>
        </div>

        <div class="space-y-6">
          <div class="bg-white rounded mt-4 p-6">
            <%= render "form", category: @category %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>