<div class="min-h-screen py-8">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="max-w-5xl mx-auto bg-rose-200 border border-gray-200 rounded-xl shadow-lg hover:shadow-xl transition-shadow duration-200 p-6">
      <div class="flex items-center justify-between mb-3">
        <h1 class="text-2xl font-semibold text-gray-900">Share Your <%= @story_idea.class.model_name.human %></h1>
      </div>

      <div class="mb-6">
        Story Share was created to uplift your voice and experiences as an anchor for your peers,
        as well as to illustrate to the general public the transformative and healing power of art you witness every day.
        <br><br>
        We look forward to reading each and every story about the innovation and
        transformation of both you and your participants. Thank you for taking the time to share.
        <br><br>
        <span class="italic">
          Please note: edits may be made, and not all stories
          will be published to the site, but may still be used in other places.
        </span>
      </div>

      <div class="space-y-6">
        <div class="mt-4">
          <%= render "form", story_idea: @story_idea %>
        </div>
      </div>
    </div>
  </div>
</div>
