<div class="mb-8">
  <h2 class="text-3xl font-semibold text-gray-900"><%= title %></h2>

  <% if defined?(subtitle) && subtitle.present? %>
    <p class="text-gray-600 mt-1"><%= subtitle %></p>
  <% end %>
</div>
