<% title ||= "Popular Resources" %>

<section class="mt-6 py-10 bg-violet-50">
  <div class="max-w-6xl mx-auto px-4">
    <%= render "dashboard/dashboard_section_header",
               title: title,
               subtitle: "Tools and activities used across our network" %>

             <%= turbo_frame_tag "dashboard_resources", src: root_path, loading: :lazy, data: {controller: "prefetch-lazy"} do %>
      <%= render "resources_cards_skeleton" %>
    <% end %>
  </div>
</section>
