<%= form_tag(bookmarks_path, method: :get, class: "space-y-4") do %>
  <%= render "search_fields" %>

  <!-- Sort options -->
  <div class="mt-4 flex flex-wrap items-center gap-4 my-6">
    <span class="font-semibold">Sort by:</span>
    <div class="flex flex-wrap gap-2">
      <%= render "sortable_fields", sortable_fields: @sortable_fields %>
    </div>
  </div>
<% end %>