<div class="assets">
  <%= render "assets/display_image", resource: resource, file: (defined?(file) ? file : nil), variant: :hero %>
  <%= render "assets/display_gallery_media", resource: resource %>
</div>
