<!-- Gallery Media -->
<% gallery_assets = resource.gallery_assets.select { |img| img.file.attached? } %>
<% if gallery_assets.any? %>
  <div class="<%= resource.class.table_name %>-gallery text-center mb-4">
    <div class="flex flex-wrap justify-center gap-4 mx-auto max-w-4xl">
      <% gallery_assets.each_with_index do |gallery_assets, idx| %>
        <%= render "assets/display_image", item: gallery_assets, idx: idx %>
      <% end %>
    </div>
  </div>
<% end %>
