<div class="dropdown">
  <div class="dropdown-compoments pull-right">
    <a class="dropdown-toggle" role="button" data-toggle="dropdown">
      <button type="button" class="btn btn-primary new-button">+ NEW</button>
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "New workshop idea", workshops_share_idea_path %>
      </li>
      <li>
        <%= link_to "New workshop variation", new_workshop_variation_path %>
      </li>
    </ul>
  </div>
</div>