<div class="relative ml-3" data-controller="dropdown">
  <!-- Button wrapper is relative so dropdown anchors here -->
  <div class="relative flex items-center">
    <button
      class="
        rounded-md px-3 py-2 text-lg font-medium text-gray-300 hover:bg-white/5
        hover:text-white
      "
      data-action="dropdown#toggle"
      data-dropdown-payload-param='[{"workshop-dropdown":"hidden"}]'
    >
      + NEW
    </button>
    <!-- Dropdown menu -->
    <div
      id="workshop-dropdown"
      class="
        absolute right-0 top-11 mt-2 w-48 rounded-md bg-white py-1 shadow-lg outline
        outline-black/5 transition transition-discrete hidden
      "
      data-dropdown-target="content"
    >
      <%= link_to "New workshop idea",
                  workshops_share_idea_path,
                  class:
                    "block px-4 py-2 text-sm text-gray-700 focus:bg-gray-100 focus:outline-hidden" %>
      <%= link_to "New workshop variation",
                  new_workshop_variation_path,
                  class:
                    "block px-4 py-2 text-sm text-gray-700 focus:bg-gray-100 focus:outline-hidden" %>
      <%= link_to "New story",
                  new_story_idea_path,
                  class:
                    "block px-4 py-2 text-sm text-gray-700 focus:bg-gray-100 focus:outline-hidden" %>
    </div>
  </div>
</div>
