<div class="navbar-text navbar-link">
  <%= link_to workshops_path do %>
    Workshops
  <% end %>
</div>

<div class="navbar-text navbar-link">
  <%= link_to resources_path do %>
    Resources
  <% end %>
</div>

<div class="navbar-text navbar-link">
  <%= link_to collapsible_faqs_path do %>
    FAQ
  <% end %>
</div>