<div id="resource_count">
  <hr class="border-gray-300 my-6">
  <div class="filters-applied w-full flex gap-3 items-center">
    <h3 class="text-sm font-semibold uppercase text-gray-500 tracking-wide">Resources (<%= @count_display %>)</h3>
    <%= render "shared/copy_url" %>
  </div>
</div>
