<div class="w-full">
  <div class="flex items-start justify-between mb-6">
    <div class="pr-6">
      <h1 class="text-2xl font-semibold text-gray-900 mb-2">Edit Event</h1>
      <div class="border-b border-gray-300 mb-6"></div>
      <div class="mt-4 pt-4">
        <%= render 'form', event: @event %>
      </div>
    </div>
    <%= link_to_button 'View', event_path(@event), variant: :secondary_outline %>
  </div>
</div>
