<% sector ||= nil %>

<% is_leader ||= false %>

<% display_leader ||= false %>

<% bg_color ||= DomainTheme.bg_class_for(:sectors) %>

<%# bg_hover_color ||= DomainTheme.bg_class_for(:sectors, hover: true) %>

<% bg_hover_color ||= "bg-lime-200" %>

<% if sector %>
  <%= link_to taggings_path(sector_names: sector.name),
    data: {turbo_frame: "_top"},
              class: "inline-flex items-center
                      rounded-md
                      border border-gray-300 hover:border-gray-400
                      #{ bg_color } hover:#{ bg_hover_color }
                      text-gray-500
                      px-3 py-1
                      text-sm font-medium
                      transition" do %>
    <%= sector.name %>
    <% if display_leader && is_leader %>
      <span class="ml-1 text-xs text-indigo-600">(Leader)</span>
    <% end %>
  <% end %>
<% end %>
