<div class="container-fluid workshop-logs">
  <div class="row">
    <div class="col-md-12 col-lg-8">
      <div class="entry-content">
        <!-- new workshop message -->
        <div class="alert alert-success hide" id='notification_monthly'>
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          A monthly report has already been submitted for this month. To submit an additional workshop log please
          contact your program manager.
        </div>

        <h2 class="normal">Submit Workshop Log</h2>
        <p>
          Please submit a workshop log after each workshop you lead.
          Select your workshop type from the options below. Then,
          select the workshop name in the dropdown. If you don’t see your
          workshop title in the dropdown because you led an original workshop
          or a variation, choose "New Workshop."
        </p>
      </div>
    </div>
  </div>

  <%= render 'form', workshop: @workshop %>
</div>
