<div id="copy_url" class="flex flex-1 gap-2">
  <button type="button" data-action="share-url#copy" class="btn btn-secondary-outline">
    Share this search
  </button>

  <input
    data-share-url-target="output"
    readonly
    class="
      hidden w-full max-w-md px-3 bg-gray-100 border border-gray-300 rounded font-mono text-sm
      overflow-x-auto whitespace-nowrap cursor-text
    "
  >
</div>
