<div class="flex items-center space-x-4">
  <%= link_to workshops_path, class: "rounded-md px-3 py-2 text-lg font-medium text-gray-300 hover:bg-white/5 hover:text-white" do %>
    Workshops
  <% end %>

  <%= link_to resources_path, class: "rounded-md px-3 py-2 text-lg font-medium text-gray-300 hover:bg-white/5 hover:text-white"  do %>
    Resources
  <% end %>

  <%= link_to faqs_path, class: "rounded-md px-3 py-2 text-lg font-medium text-gray-300 hover:bg-white/5 hover:text-white"  do %>
    FAQ
  <% end %>
</div>
